<div id="header">
    <div id="hdr1">
        <a href="/home"><img src="/images/logo.jpg" alt="logo" id="hdr-img"></a>
    </div>
    <div id="hdr2">
        <h2 id="naslov">FOOD&CO sve za dobar ručak!</h2>
    </div>
    <div id="hdr3">
        <button class="botun2"><a id="brojalo" href="/cart/kosara"><img src="/images/ikona1.png" alt="ikona" id="hdr-img2"><%= global || 0 %></a></button>
        
        <button class="botun2"><img src="/images/ikona2.png" alt="ikona" id="hdr-img3"></button>
    </div>
    

</div>